# Terraform files to ignore
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars.json
terraform.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

